/*
Project Name: Relaxr Responsive 
Client: Relaxr
Author: Dean Gilroy
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
html {
  font-size: .625rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}
.logo {
  font-size: 48px;
  font-weight: 800;
}

header {
  background: #033048;
  padding: 25px 0;
  overflow: hidden;
}
header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 24px;
}
header nav ul li a {
  color: #f9e42e;
}

#hero {
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  padding-top: 32px;
}

#hero .logo {
  color: #fff;
}
#hero h2 {
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin: 120px 0 90px;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}
#benefits {
  padding: 100px 0 80px;
}
h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
#benefits p, #benefits ul {
  width: 600px;
}
#benefits ul {
  list-style: disc;
  margin: 30px 0 0 80px;
}
#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 70px 0 70px;
  color: #fff;
}
blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
#main {
  margin-top: 80px;
}
#posts {
  width: 700px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
#sidebar {
  width: 240px;
  display: inline-block;
  vertical-align: top;
}
.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.post h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.post h2 a {
  color: #043049;
}

.post img {
  margin-bottom: 30px;
}
.post p {
  font-size: 24px;
  line-height: 1.333;
  color: #606161;
}
.post p:first-of-type:first-letter {
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}
.readmore {
  text-align: right;
  margin-top: 30px;
}
.readmore a {
  color: #043049;
  font-weight: 600;
}

/*.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}*/

#sidebar h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #043049;
}
#sidebar ul {
  margin-bottom: 40px;
}
#sidebar ul li a {
  color: #043049;
  font-size: 24px;
}
#sidebar p {
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 40px;
}
#sidebar p a {
  color: #043049;
  font-weight: 600;
}

#bottom-cta {
  background: #f9e42e;
  padding: 30px;
  text-align: center;
}

footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}
footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}
footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.menu-btn {
  clear: both;
}

.menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}

.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: yellow;
  z-index: 99;
  display: none;
}

.responsive-menu{
  display: none;
}

.expand {
  display: none;
}

/*BEGIN RESPONSIVE ON RELAXR HOMEPAGE*/

@media only screen and (max-width: 768px) {

    header {
      width: 100%;
    }
    nav {
      display: none;
    }
    #hero {
      width: 100%;
      height: 550px;
    }
    .container {
      width: 95%;
      font-size: 2rem;
    }
    #benefits h3 {
      margin-left: 4%;
    }
    #benefits p {
      width: 95%;
      font-size: 2rem;
      margin-left: 4%;
    }
    #benefits li {
      width: 60%;
      font-size: 2rem;
    }
    blockquote {
      width: 85%;
      font-size: 1.9rem;
    }
    footer .logo {
      margin-bottom: 20px;
    }
    footer {
      padding: 20px 0 20px;
    }
    footer ul {
        margin-right: 10px;
    }
    /* end homepage */
    /* begin blog */
    #main {
      margin-top: 30px;
    }

    #posts {
      width: 95%;
    }
    .post {
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    .post img {
      width: 100%;
    }
    .post a {
      font-size: 3rem;
    }
    .post p {
      font-size: 2rem;
      text-align: justify;
    }
    #sidebar img {
      display: none;
    }
    #sidebar {
      width: 100%;
      font-size: 2rem;
      text-align: center;
      margin-right: 1%;
    }
    
    #sidebar li:hover { 
      background-color: yellow;
    }

    .menu-btn {
      clear: both;
      float: right;      
      margin: -45px 30px;
    }

    .menu-btn span {
      display: block;
      width: 45px;
      height: 4px;
      margin: 5px 0;
      background: yellow;
      z-index: 99;
    }
    .responsive-menu {
      color: yellow;
      background-color: rgba(17,17,17,1.0);
      margin: 0;
      width: 100%;
    }
    .responsive-menu ul {
      float: right;
      margin: 10px 25px;
    }
    .responsive-menu a {
      color: yellow;
    }
    .expand {
      display: block !important;
      float: right;
    }

} /*END RESPONSIVE*/
















